[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma migrate deploy && npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 120
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
